@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lavishly+Yours&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

html {
	@apply !scroll-smooth;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: #00755d;
	--primary-foreground: oklch(0.985 0 0);
	--secondary: #f1ad49;
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

/* .dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
} */

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	--primary-color: #00755d;
	--primary-color-80: #00a181; /* 80% opacity */
	--primary-color-30: #00755d4d; /* 30% opacity */
	--primary-color-20: #00755d33; /* 20% opacity */
	--primary-color-10: #00755d1a; /* 10% opacity */
	--primary-color-5: #00755d0d; /* 5% opacity */

	--secondary-color: #f1ad49;
	--secondary-color-80: #ed9e27; /* 80% opacity */
	--secondary-color-30: #f1ad494d; /* 30% opacity */
	--secondary-color-20: #f1ad4933; /* 20% opacity */
	--secondary-color-10: #f1ad491a; /* 10% opacity */
	--secondary-color-5: #f1ad490d; /* 5% opacity */

	--third-color: #7d9983; /* third color */
	--third-color-80: #8ab39a; /* 80% opacity */
	--third-color-30: #7d99834d; /* 30% opacity */
	--third-color-20: #7d998333; /* 20% opacity */
	--third-color-10: #7d99831a; /* 10% opacity */
	--third-color-5: #7d99830d; /* 5% opacity */

	--forth-color: #2e8b57; /* forth color */
	--forth-color-80: #3a9f6b; /* 80% opacity */
	--forth-color-30: #2e8b574d; /* 30% opacity */
	--forth-color-20: #2e8b5733; /* 20% opacity */
	--forth-color-10: #2e8b571a; /* 10% opacity */
	--forth-color-5: #2e8b570d; /* 5% opacity */

	--slide-spacing: 1rem;
	--slide-size: 50%;
}

* {
	font-family: "Poppins", sans-serif;
	font-style: normal;
}

.bg-primary {
	background-color: var(--primary-color);
}

.bg-primary-30 {
	background-color: var(--primary-color-30);
}

.bg-primary-20 {
	background-color: var(--primary-color-20);
}

.bg-primary-10 {
	background-color: var(--primary-color-10);
}

.bg-primary-5 {
	background-color: var(--primary-color-5);
}

.text-primary {
	color: var(--primary-color);
}

.border-primary {
	border-color: var(--primary-color);
}

.hover\:bg-primary:hover {
	background-color: var(--primary-color);
}

.hover\:bg-primary-30:hover {
	background-color: var(--primary-color-30);
}

.hover\:bg-primary-80:hover {
	background-color: var(--primary-color-80);
}

.hover\:text-primary:hover {
	color: var(--primary-color);
}

.hover\:border-primary:hover {
	border-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-secondary-30 {
	background-color: var(--secondary-color-30);
}

.bg-secondary-20 {
	background-color: var(--secondary-color-20);
}

.bg-secondary-10 {
	background-color: var(--secondary-color-10);
}

.bg-secondary-5 {
	background-color: var(--secondary-color-5);
}

.text-secondary {
	color: var(--secondary-color);
}

.border-secondary {
	border-color: var(--secondary-color);
}

.hover\:bg-secondary:hover {
	background-color: var(--secondary-color);
}

.hover\:bg-secondary-30:hover {
	background-color: var(--secondary-color-30);
}

.hover\:bg-secondary-80:hover {
	background-color: var(--secondary-color-80);
}

.hover\:text-secondary:hover {
	color: var(--secondary-color);
}

.hover\:border-secondary:hover {
	border-color: var(--secondary-color);
}

.bg-third {
	background-color: var(--third-color);
}

.bg-third-80 {
	background-color: var(--third-color-80);
}

.bg-third-30 {
	background-color: var(--third-color-30);
}

.bg-third-20 {
	background-color: var(--third-color-20);
}

.bg-third-10 {
	background-color: var(--third-color-10);
}

.bg-third-5 {
	background-color: var(--third-color-5);
}

.text-third {
	color: var(--third-color);
}

.border-third {
	border-color: var(--third-color);
}

.hover\:bg-third:hover {
	background-color: var(--third-color);
}

.hover\:bg-third-30:hover {
	background-color: var(--third-color-30);
}

.hover\:bg-third-80:hover {
	background-color: var(--third-color-80);
}

.hover\:text-third:hover {
	color: var(--third-color);
}

.hover\:border-third:hover {
	border-color: var(--third-color);
}

.bg-forth {
	background-color: var(--forth-color);
}

.bg-forth-80 {
	background-color: var(--forth-color-80);
}

.bg-forth-30 {
	background-color: var(--forth-color-30);
}
.bg-forth-20 {
	background-color: var(--forth-color-20);
}

.bg-forth-10 {
	background-color: var(--forth-color-10);
}

.bg-forth-5 {
	background-color: var(--forth-color-5);
}

.text-forth {
	color: var(--forth-color);
}

.border-forth {
	border-color: var(--forth-color);
}

.hover\:bg-forth:hover {
	background-color: var(--forth-color);
}

.hover\:bg-forth-30:hover {
	background-color: var(--forth-color-30);
}

.hover\:bg-forth-80:hover {
	background-color: var(--forth-color-80);
}

.hover\:text-forth:hover {
	color: var(--forth-color);
}

.hover\:border-forth:hover {
	border-color: var(--forth-color);
}

button {
	@apply cursor-pointer;
}

::-webkit-scrollbar {
	width: 8px;
	border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	@apply bg-neutral-700;
	/* background-color: var(--color-primary); */
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	@apply bg-neutral-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-neutral-400;
}

.theme-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 10px;
}

/* Track */
.theme-scrollbar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--primary-color);
}

/* Handle */
.theme-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--forth-color);
}

/* Handle on hover */
.theme-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: var(--forth-color-80);
}

.font-dm-serif-display {
	font-family: "DM Serif Display", serif;
	font-style: normal;
}

.font-poppins {
	font-family: "Poppins", sans-serif;
	font-style: normal;
}

.font-lora {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

@font-face {
	font-family: "Allison-Regular";
	src: url("/fonts/Allison-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

.font-allison {
	font-family: "Allison-Regular";
	font-weight: 400 !important;
	font-style: normal !important;
}

.font-lavishly {
	font-family: "Lavishly Yours", cursive;
	font-weight: 400;
	font-style: normal;
}

.loader-animation {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: inline-block;
	border-top: 6px solid var(--color-secondary);
	border-right: 6px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
.loader-animation::after {
	content: "";
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border-left: 6px solid var(--color-primary);
	border-bottom: 6px solid transparent;
	animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.mask-top-scroll {
	-webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 50%);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-image: linear-gradient(to bottom, transparent 0%, black 50%);
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
}
